[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/mongo-cxx-driver"]
	path = deps/mongo
	url = https://github.com/mongodb/mongo-cxx-driver.git
[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/nodejs/http-parser.git
