.cproject
.project
.settings/*
out/**
**/*.swp

doc/html/*
doc/latex/*
wiki/*

webclient
webserver
file_test

webserver.dSYM
webclient.dSYM
file_test.dSYM
*.xcodeproj
core.*
/build/gyp
build/gyp/*

deps/gtest_build/*
/build-qt-Desktop_Qt_5_4_0_clang_64bit-Debug/
/.settings/
*.o
*.a
*.DS_Store
