[submodule "libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "http-parser"]
	path = deps/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "mongo-cxx-driver"]
	path = deps/mongo
	url = https://github.com/mongodb/mongo-cxx-driver.git
